# Node modules
/node_modules
test-viem-old/
backend/ignition/deployments/
test-viem.mjs

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Environment files
.env
.env.*
!.env.example

# Hardhat coverage reports
/coverage

# Gas snapshot files
/.gas-snapshot

# Snapshot cheatcodes output
/snapshots
